* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* 62.5% de 16px = 10px, então 1rem = 10px */
}

body {
  font-family: sans-serif;
  background-color: #f0f4f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 4rem 2rem;
  font-size: 1.6rem; /* 16px */
}

.container {
  background: white;
  border-radius: 1.6rem;
  padding: 3.6rem 3.2rem;
  width: 100%;
  max-width: 52rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3.2rem;          /* 32px */
  color: #4a3f8f;
  margin-bottom: 0.6rem;      /* 6px */
  text-align: center;
}

p{
  text-align: center;
  color: #888;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

p a {
  color: #667eea;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
}

p a:hover {
  color: #764ba2;
  text-decoration: underline;
}

.input-area {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.4rem 0 2rem;
  outline: none;
}

input {
  flex: 1;
  padding: 1rem;
  border: px solid #ccc;
  border-radius: 1rem;
  font-size: 1.3rem;
  background-color: #eaeaea;
  color: #333;
}

.input-area input::placeholder {
  color: #a1a1a1;
}

input:focus {
  border-color: #667eea;
  box-shadow: 0 0 0 0.3rem rgba(102, 126, 234, 0.15);
}

button {
  padding: 1.2rem 2rem;
  background-color: #4f46e5;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
}

button:hover {
  background-color: #4338ca;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;

}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 1.6rem;
  border-bottom: 1px solid #eee;
  font-size: 1.3rem;
  color: #333;
  border-left: 0.4rem solid #667eea;
  
}

li button {
  background: transparent;
  color: #e53e3e;
  font-size: 18px;
  padding: 0 8px;
}

li button:hover {
  background: transparent;
  color: #c53030;
}

li:hover {
  background: #e8e8ff;

}

/* ===== ANIMAÇÃO DE ENTRADA ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-0.8rem); /* 8px */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* ===== RESPONSIVO ===== */
@media (max-width: 48rem) {   /* 480px */
  .container {
    padding: 2.4rem 1.8rem;   /* 24px | 18px */
  }

  h1 {
    font-size: 2.4rem;        /* 24px */
  }

  .input-area {
    flex-direction: column;
  }

  .input-area button {
    width: 100%;
  }
}